@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  background: #f9f8f6;
  font-size: 1.2rem; }

a:link {
  text-decoration: none;
  color: #000; }

a:visited {
  text-decoration: none;
  color: #000; }

a:hover {
  text-decoration: none;
  color: #636363; }

a:active {
  text-decoration: none;
  color: #636363; }

a:hover img {
  opacity: 0.7; }

/*ヘッダー==========*/
header #header_in {
  padding: 20px; }
  header #header_in h1 {
    margin-bottom: 0; }
  header #header_in #logo img {
    max-width: 140px; }
  header #header_in .navi {
    margin-bottom: 1rem; }
  header #header_in .pc_navi {
    text-align: right;
    margin-top: 2.8rem;
    margin-bottom: 0; }
    header #header_in .pc_navi li {
      display: inline-block;
      list-style: none;
      margin-left: 2rem; }
    header #header_in .pc_navi li:first-child {
      margin: 0; }
    header #header_in .pc_navi li:last-child {
      margin-left: 1rem; }

/*カルーセル====================*/
/*メイン====================*/
.main {
  margin-top: 2rem; }

.pc_title h2 img {
  max-width: 100%;
  text-align: center;
  margin-bottom: 0;
  padding: 0; }

.item_area {
  background-color: #f9f8f6;
  padding-bottom: 1rem; }
  .item_area .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch; }
  .item_area .item {
    background-color: #FFFFFF;
    width: 33.15%;
    margin-bottom: 0.15rem;
    padding: 1.5rem; }
  .item_area .item img {
    max-width: 100%; }
  .item_area .list_name {
    margin-bottom: 20px; }
  .item_area .list_price {
    margin-bottom: 5px; }

.guide {
  margin-top: 0; }
  .guide .guidebox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch; }
  .guide .guidance {
    background: #fff;
    padding: 1.5rem;
    width: 49%;
    margin-bottom: 2rem; }
    .guide .guidance h3 {
      color: #887f69;
      font-size: 1.6rem;
      font-weight: bold; }
    .guide .guidance img {
      margin: 0; }
    .guide .guidance P {
      margin-bottom: 1rem; }
    .guide .guidance p.guidetext {
      margin: 0; }
    .guide .guidance .guidetext {
      color: #887f69; }

/*右メニュー==================*/
.sidebar ul li {
  list-style: none; }

li.search {
  background-color: #fff;
  height: 7rem;
  padding: 1.1rem 1.5rem; }
  li.search #searchform {
    position: relative; }
  li.search #keywords {
    width: 100%;
    margin-top: 0.5rem;
    height: 4rem;
    background: #eeeeee;
    border: none;
    padding: 0.5rem;
    color: #b5b5b5; }
  li.search #searchBtn {
    position: absolute;
    top: 30%;
    _top: 30%;
    left: 88%; }
  li.search *:first-child + html #searchBtn {
    top: 30%; }

li.pagelink, li.categry, li.about {
  background: #887f69;
  height: 25px;
  padding: 1.4rem 1rem 0.6rem 1rem; }

li.pagelink {
  background-repeat: no-repeat;
  background-image: url("../images/top/next_icon.png");
  background-position: 95% 50%; }

li.categry {
  margin: 0;
  background-repeat: no-repeat;
  background-image: url("../images/top/down_icon.png");
  background-position: 95% 50%; }

li.categrylist {
  background-color: #fff;
  height: 25px;
  padding: 1.4rem 1rem 0.6rem 1rem;
  margin: 0;
  border-top: 1px solid;
  border-color: #f9f8f6;
  background-repeat: no-repeat;
  background-image: url("../images/top/next_icon_gray.png");
  background-position: 95% 50%; }

li.about {
  margin-top: 1rem;
  margin-bottom: 0; }

.shopabout {
  background-color: #fff;
  padding: 1rem; }
  .shopabout img {
    display: block;
    margin: 0 auto;
    padding: 0.5rem; }

/*フッター==================*/
footer {
  text-align: center; }
  footer hr {
    border-color: #887f69; }
  footer ul {
    margin-bottom: 1rem; }
  footer ul li {
    display: inline-block;
    margin-right: 2rem;
    list-style: none; }
  footer ul li.policy :before {
    content: "・　"; }
  footer .copy {
    margin-top: 0;
    font-size: 1rem;
    color: #b8b4ac; }

/*パンくず=================*/
.topicpath {
  background-color: #e8e4da;
  margin-bottom: 1rem;
  border-radius: 3px;
  padding: 1rem;
  color: #887f69;
  letter-spacing: 0.1rem; }
  .topicpath a:link {
    text-decoration: none;
    color: #887f69; }
  .topicpath a:visited {
    text-decoration: none;
    color: #887f69; }
  .topicpath a:hover {
    text-decoration: none;
    color: #a59a80; }

/*listページ===================================*/
/*タイトル画像=================*/
.list_title_pc {
  margin-bottom: 0.5rem; }
  .list_title_pc img {
    width: 100%; }

/*商品詳細ページ===================================*/
.products_area {
  background-color: #fff;
  padding: 4rem 6rem; }
  .products_area .products_ttl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch; }
  .products_area h2 {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.4rem; }
  .products_area .number {
    color: #a6a6a6; }
  .products_area hr {
    border-color: #e3e8cf;
    margin: 1rem 0; }
  .products_area .slideshow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: stretch; }
  .products_area #display_img {
    margin: 0;
    padding: 0;
    width: 70%; }
    .products_area #display_img img {
      max-width: 100%;
      padding-right: 1rem; }
  .products_area #list_img {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch; }
    .products_area #list_img .list_imege {
      width: 48%; }
    .products_area #list_img img {
      width: 100%;
      cursor: pointer;
      margin-bottom: 0.2rem;
      padding: 0; }
  .products_area .detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-direction: stretch; }
    .products_area .detail .price {
      width: 55%; }
    .products_area .detail .buy {
      width: 45%;
      border-bottom: 1px solid #e3e8cf; }
      .products_area .detail .buy input {
        width: 95%;
        padding-left: 5%; }
  .products_area table {
    width: 100%;
    border: 1px solid #e3e8cf; }
    .products_area table th, .products_area table td {
      background-color: #f9f8f6;
      color: #887f69;
      font-weight: normal;
      border: 1px solid #e3e8cf;
      text-align: center; }
    .products_area table td {
      background-color: #fff;
      padding: 0;
      vertical-align: bottom; }
  .products_area .detail table {
    border-left: hidden;
    border-right: hidden;
    margin-bottom: 0; }
    .products_area .detail table th, .products_area .detail table td {
      background-color: #fff;
      color: #000;
      padding: 0;
      margin: 0;
      text-align: left;
      vertical-align: middle; }
      .products_area .detail table th span, .products_area .detail table td span {
        color: #e80f66;
        font-size: 2.2rem; }
    .products_area .detail table th {
      width: 40%;
      border-right: hidden; }
    .products_area .detail table td {
      vertical-align: middle; }
      .products_area .detail table td input {
        margin-bottom: 0; }
  .products_area .Pro_explanation {
    margin-top: 3rem; }
    .products_area .Pro_explanation h3, .products_area .Pro_explanation h4 {
      color: #887f69;
      font-size: 1.6rem;
      font-weight: bold;
      border-bottom: 1px solid #887f69;
      letter-spacing: 0.1rem; }
    .products_area .Pro_explanation h3 {
      padding-bottom: 1.5rem; }
    .products_area .Pro_explanation h4 {
      border: none; }
    .products_area .Pro_explanation td {
      vertical-align: middle; }

/*SP========================*/
@media (max-width: 768px) {
  #logo {
    margin-bottom: 0; }

  .container {
    text-align: center; }

  .main {
    margin-top: 0; }

  .pc_navi, .pc_title, .list_title_pc {
    display: none; }

  .sp_navi {
    margin: 0; }

  .sp_navi li {
    list-style: none;
    display: inline-block;
    margin-left: 1rem; }

  .sp_navi li:first-child {
    margin-left: 0; }

  .sp_menu {
    cursor: pointer; }

  .sp_menu_toggle {
    display: none; }

  .box {
    flex-wrap: wrap;
    align-content: space-around; }
    .box .item {
      width: 49.8%;
      margin: 0 0 0.2rem 0; }
      .box .item img {
        max-width: 100%; }

  .guidebox {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; }
    .guidebox .guidance {
      width: 100%;
      text-align: left; }

  .sidebar {
    text-align: left; }
    .sidebar .shopabout {
      display: flex;
      flex-grow: 1; }
      .sidebar .shopabout .sp_shop {
        width: 50%; }

  .pagetop {
    text-align: center;
    font-size: 2rem; }

  .topicpath {
    text-align: left; }

  /*SP listページ-----------*/
  .list_title_sp {
    width: 100%; }

  /*SP productsページ-----------*/
  .products_area {
    padding: 2rem 1rem;
    text-align: left; }
    .products_area .products_ttl {
      flex-direction: column; }
      .products_area .products_ttl h2 {
        margin-bottom: 0.5rem; }
    .products_area .slideshow {
      flex-direction: column; }
    .products_area #display_img {
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center; }
      .products_area #display_img img {
        max-width: 100%;
        padding: 0; }
    .products_area #list_img {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch; }
      .products_area #list_img .list_imege {
        width: 18%; }
      .products_area #list_img img {
        width: 100%;
        cursor: pointer;
        margin-bottom: 0.5rem;
        padding: 0; }
    .products_area h3 {
      margin-bottom: 0.5rem; }
    .products_area .detail {
      flex-direction: column; }
      .products_area .detail .price {
        width: 100%; }
        .products_area .detail .price td p {
          margin-top: 1.5rem; }
      .products_area .detail .buy {
        margin-top: 2rem;
        text-align: center;
        width: 100%;
        border-bottom: none; }
        .products_area .detail .buy input {
          width: 75%;
          padding: 0;
          text-align: center; } }
/*PC========================*/
@media (min-width: 768px) {
  .sp_navi, .list_title_sp {
    display: none; }

  .sideber ul li {
    margin: 10% 0 20% 10%; }

  .sp_title {
    display: none; }

  .pagetop {
    text-align: right; }

  /*products-----------*/ }

/*# sourceMappingURL=style.css.map */
